body {
    margin: 0;
}
@keyframes bounce-in-right {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.75;
    }
    100% {
        opacity: 0.5;
    }
}

.bounce-out {
    animation: bounce-out 2s ease infinite;
}

/* fade in animation */
@keyframes fadeIn {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 25%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 0%;
}

/* The navigation menu links */
.sidenav a {
    transition: 0.5s;
    text-decoration: none;
    color: #818181;
    padding: 10%;
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
}

a.selected {
    color: #f1f1f1;
}

/* Style page content */
.main {
    padding: 0 0 0 0;
    margin-left: 25%; /* Same as the width of the sidebar */
    background-color: #111;
    height: 1080px;
    width: 75%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        width: 12.5%;
    }
    .sidenav a {
        font-size: 25px;
    }
}

/*animation au hover sur le link*/
.sidenav a:hover {
    animation: fadeIn 0.5s;
    animation-iteration-count: 1;
    color: #f1f1f1;
}

/*cdn download of azonix font*/
@font-face {
    font-family: "Azonix";
    src: url("https://fonts.googleapis.com/css?family=Redacted");
}

/**/
.socks {
    opacity: 0.7;
    margin-left: 12.5%;
    transform: scaleX(-1);
    width: 15%;
}
/* Sur le bas de la page*/
footer {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    padding-left: 25%;
}



footer a{
    text-decoration: none;
    color: black;
}
footer li{
    list-style: none;
}

articles {

    padding-left: 25%;
} 
